*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
	scroll-behavior: smooth;

}

/*LANDING*/

#homesec {
	background: url(../images/bg-kaki.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;

}

.projectimg {
	position: absolute;
	text-align: center;
	width: 100%;
	
}

.projectimg img {
	height: 300px;
	width: 350px;

}

nav {
	height: 50px;
	background-color: #63d2d9;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	justify-content: center;
	opacity: .8;
	z-index: 99;

}


.logo img {
	position: relative;
	right: 200px;
	height: 50px;
	width: 50px;


}

nav > ul {
	display: flex;
	list-style-type: none;
	color: #0AE1FF;
	font-size: 16px;
}

nav > ul > li {
	margin: 0 20px;

}

nav > ul > #homenav {
	color: #FFC300;
	text-decoration: none;
}

nav ul li > a:hover{
	color: #FFC300;
}

nav ul li  a {
	text-decoration: none;
	color: black;
}

h1 {
	color: #FFC300;
}

p {
	color: white;
}

p > span {
	color: #FFC300;
}


/*PROJECT SECTION*/

.myproject {
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black; 
	background-position: center;
	background-size: cover;
	
}

.mainbox div {
	margin-top: 20px;
	text-align: center;
	color: white;
}

.subBox {
	display: flex;
	justify-content: center;
}

.box1 {
	height: 200px;
	width: 200px;
	border-radius: 5px;
	margin-right: 50px;
	position: relative;

}

.box1 img {
	height: 200px;
	width: 200px;

}


.box1:hover {
	box-shadow: 0px 10px 10px teal;
	bottom: 10px;
	transition: .5s;
}


/*PROFILE*/

.profile {
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	
}

.profile img {
	height: 150px;
	width: 150px;
	border-radius: 60%;
}

#aboutme {
	text-align: center;

}

h2 {
	color: teal;
	text-align: center;
	font-size: 32px;

}


/*CONTACTS*/

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

.fab {
	font-size: 24px;
}

#contacts {
	height: 70vh;
	background-color: black;
	padding-top: 50px;
}

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact > h3 {
	color: black;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
}

#contact > h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input, textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;

}

#contact textarea {
	height:100px;
	max-width:100%;
  	resize:none;
}

#contact button {
	cursor:pointer;
	width:100%;
	border:none;
	background: teal;
	color:black;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button:hover {
	background: #63d2d9;
}


/*SKILLS*/
#skillsec {
	background-color: black;
	height: 40vh;
	padding-top: 50px;
	text-align: center;

}

#skill {
	height: 120px;
	width: 200px;

}


/*FOOTER*/

.footer {
	background-color: black;
	height: 10vh;
	border-top: 1px solid teal;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: .8
}
